<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header class="navbar navbar-inverse navbar-fixed-top" th:fragment="header(path)">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Produtos de Investimentos</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" th:href="@{/}">Home</a>
                </li>
                <li>
                    <a href="#" th:href="@{/task}">Tasks</a>
                </li>
                <li>
                    <span th:text="${path}">/path/</span>
                </li>
            </ul>
        </div>
    </div>
</header>
    <div th:fragment="content(value)" th:insert="${value}">

    </div>
</body>
</html>