<!doctype html>
<html lang="en">
<head th:replace="~{base_layout :: base_html_head('All Investiments', _)}">
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Document</title>
</head>
<body class="has-background-light">
<header th:replace="~{base_layout :: base_header}">

</header>
<div th:insert="~{base_layout :: content(~{ :: #products-cards}) }">
    <div id="products-cards">
        <div class="pl-5 block">
            <h3 class="title is-3">Produtos</h3>
            <p class="subtitle is-5" th:text="${#strings.concat(#lists.size(products), ' produtos econtrados')}"></p>
        </div>
        <div style="margin-bottom: 0.5rem" th:each="product : ${products}" th:insert="~{products/fragments/product_card :: product_card(product)}"></div>
    </div>
</div>
</body>
</html>