<!doctype html>
<html lang="en">
<head th:replace="~{base_layout :: base_html_head('All Investiments', _)}">
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Document</title>
</head>
<body>
<header th:replace="~{base_layout :: base_header(Foo)}"></header>
<div th:insert="~{base_layout :: content(~{ :: #new-product-form}) }">
    <div id="new-product-form" class="py-4">

        <h3 class="h3">Criar novo Produto</h3>

        <form class="form-inline w-75" th:action="@{/products/}" th:object="${newProduct}" method="post">
            <div class="d-flex flex-row">
                <fieldset class="form-group column w-50 mx-2">
                    <div class="py-1">
                        <label for="product_name">Nome</label>
                        <input id="product_name" class="form-control" type="text" placeholder="CDB Pós fixado"
                               th:field="*{name}"/>
                    </div>
                    <div class="py-1">
                        <label for="destination">Destinação</label>
                        <input id="destination" class="form-control" type="text" th:field="*{destination}"/>
                    </div>
                </fieldset>
                <fieldset class="form-group column w-50 mx-2">
                    <div class="py-1">
                        <label for="rentability">Rentabilidade anual (%)</label>
                        <input id="rentability" class="form-control" type="number" th:field="*{anualRentability}"/>
                    </div>
                    <div class="py-1">
                        <label for="months">Período minimo de investimento (meses)</label>
                        <input id="months" class="form-control" type="number" th:field="*{minimalMonths}"/>
                    </div>
                    <div class="py-1">
                        <label for="taxes">Taxa administrativa (%)</label>
                        <input id="taxes" class="form-control" type="number" th:field="*{administrativeTaxes}"/>
                    </div>
                </fieldset>
            </div>
            <button class="btn btn-outline-success" type="submit">Enviar</button>
        </form>
    </div>
</div>
<div th:insert="~{base_layout :: content(~{ :: #products-list}) }">
    <div class="flex-box flex-content" id="products-list">
        <h4 class="h4"><span th:text="${#strings.concat(#lists.size(products), ' produtos')}"></span></h4>
        <table class="table table-striped">
            <thead class="thead-light">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Estado</th>
                <th scope="col">Nome</th>
                <th scope="col">Destinação</th>
                <th scope="col">Rent. Anual</th>
                <th scope="col">Período mínimo</th>
                <th scope="col">Taxa Admin</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}">
                <th scope="row" th:text="${product.id}">A</th>
                <td th:text="${product.name}">A</td>
                <td th:text="${product.status}">A</td>
                <td th:text="${product.destination}">A</td>
                <td th:text="${product.anualRentability}">A</td>
                <td th:text="${product.minimalMonths}">A</td>
                <td th:text="${product.administrativeTaxes}">A</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>