<!DOCTYPE html>
<html lang="en">
<head th:fragment="base_html_head(title, custom_script)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:if="${#strings.isEmpty(title)}">Nebraska Investment</title>
    <title th:unless="${#strings.isEmpty(title)}" th:text="${title}"></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header th:fragment="base_header">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item"  href="#" th:href="@{/products}">
                    <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="#" th:href="@{/products}" >
                        Renda fixa
                    </a>
                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-primary"  href="#" th:href="@{/products/new}" >
                                <strong>Novo Produto</strong>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <script type="application/javascript">
            document.addEventListener('DOMContentLoaded', () => {

                // Get all "navbar-burger" elements
                const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

                // Add a click event on each of them
                $navbarBurgers.forEach( el => {
                    el.addEventListener('click', () => {

                        // Get the target from the "data-target" attribute
                        const target = el.dataset.target;
                        const $target = document.getElementById(target);

                        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                        el.classList.toggle('is-active');
                        $target.classList.toggle('is-active');

                    });
                });

            });
        </script>
    </header>
    <div class="container" th:fragment="content(value)">
        <div class="container is-fluid py-5" th:insert="${value}"></div>
    </div>

</body>
</html>